@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Umbraco.Web


@*
    This snippet displays a list of links of the pages immediately under the top-most page in the content tree.
    This is the home page for a standard website.
    It also highlights the current active page/section in the navigation with the CSS class "current".
*@

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <a class="navbar-brand" href="@Model.Content.Site().Url">Home</a>
    @{ var section = Model.Content.Site().Children.Where(x => x.IsVisible()).ToArray(); }
    
    @if (section.Length > 0)
                {
                   <ul class="nav navbar-nav">
                        @foreach (var menuItem in CurrentPage.Site().Children.Where("umbracoNaviHide == false")) {
                            var isProtected = umbraco.library.IsProtected(menuItem.id, menuItem.path);
                            var loginAccess = umbraco.library.IsProtected(menuItem.id, menuItem.path)
                        && umbraco.library.HasAccess(menuItem.id, menuItem.path);

                            if (!isProtected || loginAccess) {
                        <li class="@(menuItem.IsAncestorOrSelf(CurrentPage) ? "active" : null)">
                        <a href="@menuItem.Url">@menuItem.Name</a>
                        </li>

                        }

                       }
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Project Details<span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            @{var selectionProjects = Model.Content.Site().FirstChild("ProjectsMain").Children()
                                .Where(x => x.IsVisible()).Where(x => x.GetPropertyValue<String>("status") == "Completed"); 
                                }
                                
                              @foreach (var child in selectionProjects)
                                {
                                <li> <a href="@child.Url">
                                @child.Name: @child.GetPropertyValue("status")</a>
                                </li>
                                }
                          </ul>
                        </li>
                    </ul>
                }
                
    </div>
</nav>

