@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
   Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/scripts/jquery-3.3.1.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/colors.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/versions.css">
</head>
<body>
    @if (!Members.GetCurrentLoginStatus().IsLoggedIn) {
    @Umbraco.RenderMacro("Menu")
} else {
    @Umbraco.RenderMacro("Menu")
}
    @RenderBody()
    @Umbraco.Field("bodytext")
    @Umbraco.RenderMacro("Footer")
    
    <script src="~/scripts/jquery-3.3.1.min.js"></script>
    <script src="~/scripts/jquery.validate.min.js"></script>
    <script src="~/scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>


